/* apply global styles */

body {
  color:black;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;

}



.content{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.content-inner{
  width:80%
}

/* style the container */
.outercont {
  /* adding this to the parent "intiates" the flex mode of it all */
  display: flex;
  /* tell the parent which direction to put the children */
  flex-direction: row;
  flex-wrap: wrap;
  /* add spacing & more styling to children. this is horizontal and 
  vertical alignemnt of children inside the parent*/
  justify-content: space-between;
  align-items: center;

}



.card {
  background: lightgray;
  width: 300px;
  height: 300px;
  margin: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin: 1rem .25em;
  box-shadow: 2px 2px 2px 2px grey;
  font-size: 30px;
  justify-content: space-between;
  border-radius: 25px;
}

.one{
  background-color: white;
  border: 0.5px solid grey;
}

.two{
  background-color: black;
  color: white;
  
}

.three{
  background-color:white;
  border: 0.5px solid purple;
}

.four{
  background-color: white;
  border: 0.5px solid blue;
}


.threehead{
  background-color: lightpink;
  box-shadow: 2px 2px 2px 2px grey;

}

.fourhead{
  color: red;

}

h1{
  font-size: 60px;

}