body {
    margin: 0;
    overflow: hidden;
    background: url('grass2.gif') no-repeat center center fixed;
    background-size: cover;
  }

  .icon {
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }