
body {
  font-family:"Grandiflora One", sans-serif; 
  margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Change to column direction */
    height: 100vh;
    background-image: url("photoAssets/background.jpg");
  }
  
  .flex-row {
    display: flex;
    width:100%;
    height:20%;
  }
  

  .image-cell a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    margin: 50px;
  }

  .image-cell a img {
    width: 300px;
    height: 300px;
    transition: box-shadow 0.3s ease-in-out;
  }

  .image-cell a:hover img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
 
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    font-size: 50px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%; 
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  h1{
    margin-bottom: 20px;
    font-size: 100px;

  }