body {
    font-family:"Grandiflora One", sans-serif; 
    margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-image: url("photoAssets/background.jpg");
    }

h1{
    font-size: 100px;
    font-weight: bold;
}


p,a,form,input,button{
    font-size: 50px;
}


form,input,button{
    font-family:"Grandiflora One", sans-serif; 
    text-align: center;
}